<div class="container custom-container-2">

    <br>
    <h4>Listado de Pizzas</h4>
    <button class="btn btn-success" routerLink="/ingreso"> <b>Nueva Pizza</b> </button>
    <hr>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead class="table-info">
                <tr class="text">
                    <th scope="col">Codigo Pizza</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Opciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pi of pizzas">
                    <td class="text"> <b>{{pi.id}}</b></td>
                    <td class="text">{{pi.name}}</td>
                    <td class="text">{{pi.origin}}</td>
                    <td>
                        
                        <button class="btn btn-warning" routerLink="/gestion/{{pi.id}}"> <b>Modificar</b> </button>
                        <br>
                        <br>
                        <button class="btn btn-danger" (click)="eliminarPizza(pi.id)"> <b>Eliminar</b></button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>