<br>
<div class="container">
    <h1> Cliente Angular de  <span class="badge badge-secondary">PIZZA</span></h1>
</div>
<hr>

<div class="container">
    <h4 class="alert-heading">Consumo de servicio</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod odio eius soluta modi quam quasi commodi libero asperiores deserunt quibusdam rem aliquam autem eaque dignissimos pariatur, repellendus eum temporibus. Doloremque.</p>
    <hr>
    <p class="mb-0"> <b>Integrantes </b>: </p>
    <p>Ervin Cabascango, Ronald Moreira, Dennis Chicaiza, Daniel Guerra, Fernando Chulde</p>
  </div>


